.Card {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 16px;
    margin: 16px 0px;
    border: solid #eee;
    border-radius: 12px;
    max-width: 400px;
}

.Card > .PrimaryLabel {
    font-size: 1.1rem;
    font-weight: bold;
}

.Card > .SecondaryLabel {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 12px;
}

.Card > .Body {
    opacity: 0.9;
    margin-bottom: 12px;
}

.Card.Highlight {
    border-left: solid #00d084;
    border-left-width: 8px;
}