.App {
    width: 500px;
    margin: 16px 16px;
}

.App > header {
    margin-bottom: 16px;
}

.App > header > h1 {
    margin-bottom: 4px;
}

.App > header > .AppointmentTotal {
    opacity: 0.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}